.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
}

.dropdown-content a {
    padding-top: 5px;
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 55px;
    height: 28px;
    font-size: 12px;

}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    border: solid 2px #ffc64d;
}